/* .title {
    text-align: center;
    margin: 10px 0;
} */

.text {
    text-align: center;
    margin: 50px 0;
}

.caixa {
    
    flex-direction: column;
}

.box1{
    display: flex;
    justify-content: inherit;
    margin: 30px 0; 
}

.box{
    width: 35%;
    height: 30%;
    text-align: center;
}
/* .box-cards {
   display: flex;
    justify-content: center;
    margin: 10px 0px;
} */

/* .cards-group{
    display: flex;
    justify-content: center;
    width: 97vw;
} */


/* .btn {
    color: gray !important;
    background-color: whitesmoke;
    font-size: 16px;
    border: none;
    outline: none !important;
    box-shadow: none !important;
}  */

.imagens{
    width: 55%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

@media (max-width: 767px){
    .box1{
        flex-wrap: wrap;
    }
    .box-cards container {
        margin: 0;
    }
}

