.cor {
    background-color: #343A40;
    height: 90px;
}

.icones {
    display: flex;
    justify-content: center;
    
}

.icones > a {
    margin: 10px 20px;
    color: white;
}

.icones2 {
    text-align: center;
    margin-bottom: 20px;
}

.dev{
    color: #C3CEC6;
}