.box {
    margin: 10px 15px;
}

.box-cards {
    flex-direction: column;
    justify-content: center;
    margin: 10px 0px;
}

.cards-group{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.text1 {
    text-align: center;

}
/* .btn {
    color: gray !important;
    background-color: whitesmoke;
    font-size: 16px;
    border: none;
    outline: none !important;
    box-shadow: none !important;
}  */

.whatsapp {
    width: 30px;
    height: 30px;    
}
.imagens1{
    width: 100% !important;
    height: 300px !important; 
    object-fit: cover;
    object-position: center;
}

.card-img-top{
    height: 250px;
}

@media (max-width: 767px){
    .cards-group{
        flex-wrap: wrap;
    }
    .box-cards container {
        margin: 0;
    }
}