.img-fluid {
    border-radius: 30%;
}
.navbar{
    width: 100vw;
}

.menu {
    margin: 0 40px;
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 80px;
}

.nav_mae{
    margin: 0 auto;
    font-size: 20px;
}